.text-orange {
    color: #ffa32b!important;
}

.bg-orange {
    color: #ffa32b!important;
}

.btn-orange {
    color: #FFF;
    background-color: #ffa32b;
    border-color: #ffa32b;
}

.btn-orange:hover, .btn-orange:focus {
    color: #FFF;
    background-color: #ff9409;
    border-color: #ff9409;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #007bff!important;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
}

.section-banner,
.section-banner .img-banner {
    height: 350px;
}

.img-banner {
    object-fit: cover;
}

/*
 * Card
 */
.card-hover:hover {
    border-color: #007bff;
}

.card-cover {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-cover .img-cover {
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    height: 250px;
}

/*
 * Page vídeo
 */

.video-header {
    min-height: 200px;
}

.video-content {
    position: relative;
    top: -80px;
}

.video-content .video-border {
    border: 8px solid #FFF;
}