@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*
 * Fonte
 */  

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
    font-family: 'Montserrat', sans-serif;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-800 {
    font-weight: 800;
}

.title-line {
    position: relative;
    display: inline-block;
    color: #000;
    font-weight: 600;
}

.title-line:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #618ac5;
    top: 7px;
    left: 100%;
    margin-left: 15px;
}

.title-line::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #618ac5;
    top: 7px;
    right: 100%;
    margin-right: 15px;
}

a {
    color: #618ac5;
}

a:hover, a:focus {
    color: #4878bc;
}

/*
 * Cores
 */

.text-primary {
    color: #618ac5!important;
}


/*
* Backgrounds
*/
.bg-primary {
    background-color: #618ac5!important;
}

.bg-transparent {
    background: transparent!important;
}

.bg-blue {
    background-color: #00befe!important;
}

.bg-cover {
    background: no-repeat center center/cover;
}

.bg-wave {
    background-image: url('../img/bg-wave.jpg');
    background-repeat: repeat;
    background-position: top left;
}

.bg-wave-primary {
    background-image: url('../img/bg-wave-primary.png');
    background-repeat: repeat;
    background-position: top center;
}

.bg-wow-back {
    background-image: url('../img/wow-back.jpg');
    background-repeat: repeat;
    background-position: top center;
    background-size: cover;
}

.bg-wow-back1 {
    background-image: url('../img/wow-back1.jpg');
    background-repeat: repeat;
    background-position: top center;
    background-size: cover;
}

/*
 * Botões
 */

.btn-categoria {
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
    border-bottom: 2px solid #FFF;
}

.btn-categoria:hover {
    text-decoration: none;
}

.btn-alt {
    font-weight: 800;
    border-radius: 50rem;
}

.btn-primary.btn-alt {
    font-size: 1rem;
    background-color: #618ac5!important;
    border-color: #618ac5!important;
}

@media (min-width: 768px) {
    .btn-primary.btn-alt {
        padding: 12px 20px;
    }
}

.btn-primary.btn-alt .dropdown-toggle::after {
    display: none;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #618ac5!important;
}

/*
 * Banners
 */

@media (min-width: 992px) {
    .carousel .carousel-inner {
        max-height: 470px;
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.img-banner {
    object-fit: cover;
}

/*
 * Page vídeo
 */

.bg-header-video {
    height: 280px;
}

.push-content {
    margin-top: -270px;
}

.video-header {
    min-height: 300px;
}

.video-content {
    position: relative;
}

.video-content .video-border {
    border: 8px solid #FFF;
}

/*
 * Destaques
 */
.destaques .card-cover .img-cover {
    height: 205px;
}

.card-destaque .cover {
    width: 100%;
    max-height: 350px;
}

@media (min-width: 992px) {
    .card-destaque .cover {
        max-height: 450px;
    } 
}

/*
 * Card
 */
 .card-hover:hover {
    border-color: #618ac5;
}

.card-cover {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-cover .img-cover {
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    height: 250px;
}

.card .card-title {
    font-weight: 600;
}

/*
 * Albuns
 */

.card-album {
    height: 147px;
}

.card-album .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-album .card-body .card-title {
    font-weight: 800;
}

.custom-dropdown {
    min-width: 270px;
}

/*
 * Icones
 */
.icon.arrow-right,
.icon.arrow-left {
    width: 55px;
    height: 55px;
}

.icon.arrow-right {
    background: url('../img/arrow-right.png') center center no-repeat;
}

.icon.arrow-left {
    background: url('../img/arrow-left.png') center center no-repeat;
}

/*
 * breadcrumb
 */
.breadcrumb-light .breadcrumb-item,
.breadcrumb-light a {
    font-weight: 600;
    color: rgba(255,255,255,.9);
}

.breadcrumb-light a {
    color: rgba(255,255,255,1)
}

.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255,255,255,8);
}

.center-title {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .modal-mobile-fullscreen.modal {
        padding: 0 !important;
    }
    .modal-mobile-fullscreen .modal .modal-dialog {
        width: 100%;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-mobile-fullscreen .modal .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .modal-mobile-fullscreen .modal .modal-body {
        overflow-y: auto;
    }
}