@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*
 * Fonte
 */  

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
    font-family: 'Montserrat', sans-serif;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-800 {
    font-weight: 800;
}

.title-line {
    position: relative;
    display: inline-block;
    color: #000;
    font-weight: 600;
}

.title-line:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #618ac5;
    top: 7px;
    left: 100%;
    margin-left: 15px;
}

.title-line::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #618ac5;
    top: 7px;
    right: 100%;
    margin-right: 15px;
}

a {
    color: #618ac5;
}

a:hover, a:focus {
    color: #4878bc;
}

/*
 * Cores
 */

.text-primary {
    color: #618ac5!important;
}

.bg-primary {
    background-color: #618ac5!important;
}

/*
 * Backgrounds
 */
.bg-cover {
    background: no-repeat center center/cover;
}

.bg-wave {
    background-image: url('../img/bg-wave.jpg');
    background-repeat: repeat;
    background-position: top left;
}

.bg-wave-primary {
    background-image: url('../img/bg-wave-primary.png');
    background-repeat: repeat;
    background-position: top center;
}

/*
 * Botões
 */

.btn-categoria {
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
    border-bottom: 2px solid #FFF;
}

.btn-categoria:hover {
    text-decoration: none;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #618ac5!important;
}

.section-banner,
.section-banner .img-banner {
    max-height: 560px;
}

@media (min-width: 1100px) {
    .section-banner .img-banner {
        height: 560px;
    }
}

.img-banner {
    object-fit: cover;
}

/*
 * Page vídeo
 */

.video-header {
    min-height: 300px;
}

.video-content {
    position: relative;
    margin-top: -170px;
}

.video-content .video-border {
    border: 8px solid #FFF;
}

/*
 * Destaques
 */

.destaques .card-cover .img-cover {
    height: 205px;
}

.card-destaque .cover {
    width: 100%;
    max-height: 350px;
}

@media (min-width: 992px) {
    .card-destaque .cover {
        max-height: 450px;
    } 
}

/*
 * Card
 */
 .card-hover:hover {
    border-color: #618ac5;
}

.card-cover {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-cover .img-cover {
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    height: 250px;
}

.card .card-title {
    font-weight: 600;
}

/*
 * Albuns
 */

.card-album {
    height: 147px;
}

.card-album .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-album .card-body .card-title {
    font-weight: 800;
}