@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*
 * Fonte
 */  

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
    font-family: 'Montserrat', sans-serif;
}

.font-weight-800 {
    font-weight: 800;
}

a {
    color: #618ac5;
}

a:hover, a:focus {
    color: #4878bc;
}

/*
 * Cores
 */

.text-primary {
    color: #618ac5!important;
}

.bg-primary {
    background-color: #618ac5!important;
}

/*
 * Backgrounds
 */
.bg-cover {
    background: no-repeat center center/cover;
}

.bg-wave {
    background-image: url('../img/bg-wave.jpg');
    background-repeat: repeat;
    background-position: top left;
}

.bg-wave-primary {
    background-image: url('../img/bg-wave-primary.png');
    background-repeat: repeat;
    background-position: top center;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #618ac5!important;
}

.section-banner,
.section-banner .img-banner {
    max-height: 560px;
}

.img-banner {
    object-fit: cover;
}

/*
 * Card
 */
.card-hover:hover {
    border-color: #618ac5;
}

.card-cover {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-cover .img-cover {
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    height: 250px;
}

/*
 * Page vídeo
 */

.video-header {
    min-height: 200px;
}

.video-content {
    position: relative;
    top: -80px;
}

.video-content .video-border {
    border: 8px solid #FFF;
}

/*
 * Destaques
 */

.destaques .card-cover .img-cover {
    height: 205px;
}

/*
 * Albuns
 */

.card-album {
    height: 147px;
}

.card-album .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-album .card-body .card-title {
    font-weight: 800;
}