body {
  font-family: 'Roboto', sans-serif;
}

a:focus {
  outline: none;
}

label {
  letter-spacing: .02em;
}

.badge-success-lighten {
  color: #0acf97;
  background-color: rgba(10,207,151,.18);
}

.badge-warning-lighten {
  color: #ffbc00;
  background-color: rgba(255,188,0,.18);
}

.badge-danger-lighten {
  color: #fa5c7c;
  background-color: rgba(250,92,124,.18);
}