body {
	font-family: 'Roboto', sans-serif;
}

:focus {
    outline: none;
}

a:focus {
	outline: none;
}

label {
	letter-spacing: .02em;
}

.badge-success-lighten {
	color: #0acf97;
	background-color: rgba(10,207,151,.18);
}

.badge-warning-lighten {
	color: #ffbc00;
	background-color: rgba(255,188,0,.18);
}

.badge-danger-lighten {
	color: #fa5c7c;
	background-color: rgba(250,92,124,.18);
}

/*
 * Form
 */
.custom-file-input:lang(pt-br)~.custom-file-label::after {
	content: "Selecionar";
}

.bootstrap-tagsinput {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem + 2px);
    padding: .275rem .75rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}

.tag.label {
	display: inline-block;
    padding: .5rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .3125rem;
    transition: all .2s ease-in-out;
}

.label-info {
    color: #377dff;
    background-color: rgba(55,125,255,.1);
}

/*
 * Table
 */

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #677788;
}

.table thead th {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 600;
}

.table-thead-bordered thead th {
    border-top: .0625rem solid rgba(231,234,243,.7);
    border-bottom: .0625rem solid rgba(231,234,243,.7);
}

.table .thead-light th {
    color: #677788;
    background-color: #f8fafd;
    border-color: rgba(231,234,243,.7);
}

.table-borderless tbody+tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0;
}

.card-table td, .card-table th {
    padding-right: 1.3125rem;
    padding-left: 1.3125rem;
}

.datatable-custom .sorting,
.datatable-custom .sorting_asc,
.datatable-custom .sorting_desc {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.tagify.form-control {
    height: auto;
}
